asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
backports.entry-points-selectable==1.1.1
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
cryptography==35.0.0
distlib==0.3.3
Django==4.0.3
djangorestframework==3.13.1
dnspython==2.2.0
docopt==0.6.2
docutils==0.18
filelock==3.4.0
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
jeepney==0.7.1
keyring==23.2.1
MetaTrader5==5.0.36
mt5linux==0.1.9
numpy==1.21.4
packaging==21.2
pandas==1.4.0
pipenv==2021.11.23
pipreqs==0.4.11
pkginfo==1.7.1
platformdirs==2.4.0
plotly==5.11.0
pluggy==1.0.0
plumbum==1.7.0
py==1.11.0
pycparser==2.21
Pygments==2.10.0
pymongo==4.0.1
pyparsing==2.4.7
pypiwin32==223
pytest==7.0.1
python-dateutil==2.8.2
pytz==2021.3
pywin32==305
pywin32-ctypes==0.2.0
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rpyc==5.0.1
SecretStorage==3.3.1
six==1.16.0
sqlparse==0.4.2
tenacity==8.1.0
tomli==2.0.1
tqdm==4.62.3
twine==3.5.0
tzdata==2022.1
urllib3==1.26.7
virtualenv==20.10.0
virtualenv-clone==0.5.7
webencodings==0.5.1
yarg==0.1.9
zipp==3.6.0
